/* Importando as fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


/* Zerar as margens de todos os elementos 
da página. Margens externas e internas */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
}


/* Vamos adicionar uma imagem ao fundo do header */
header{
    background-image: url("../img/fundo1.jpg");
    /* Ajustar o tamanho da imagem em 100% de largura */
    background-size: 100%;
    /* Ajustar a posição da imagem em x e y */
    background-position: 0px -150px;
    height: 500px;
    padding: 30px;

}

nav{
    /* tornando o conteúdo da nav flexível. Isso permite que 
    os elementos fiquem um ao lado do outro */
    display: flex;
    /* Alinhamento vertical dos elementos que estão no nav */
    align-items: center;
}


h1{
    /* Mudar a cor da letra */
    color:white;
    /* Alterar o tipo de letra */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    /* Alterar o tamanho da caixa(alta ou baixa) */
    text-transform: capitalize;
    margin-right: 100px;

}
ul{
    /* retirar o marcador da lista */
    list-style: none;
}
header ul li{
    /* Vamos ajustar a disposição(display)
    dos itens da lista em formato de linha */
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:5px;
}
header ul li:hover{
    background-color: #ff3d00;
}
header ul li a{
    color:white;
    /* vamos retirar o underline(sublinhado) */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
header h2{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-family: "Lobster", sans-serif;
    font-size:30pt;
    font-weight: 100;
    text-shadow: 0px 0px 5px black;
}
header p{
    font-family: "Kalam", cursive;
    font-size: 18pt;
    color:white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    text-shadow: 0px 0px 5px black;
}

footer{
    background-color:#455a64;
    display: flex;
    justify-content: space-between;
    padding: 50px;

    padding-top:100px;
    padding-bottom:100px ;
    
    font-family: arial;
    font-size: 15pt;
    color:#fff;
}

footer #rede li{
    /* colocar as redes em linha */
    display: inline-block;
    margin-right: 10px;
}

/* ---------------  formatação da página index --------------- */
main h2{
    font-family: "Lobster", sans-serif;
    margin:50px;
    font-size: 20pt;
    color: rgb(207, 28, 22);
}

main #home p{
    font-family: arial;
    margin: 0px 50px 30px 50px;
    text-align: justify;/*alinhar dos dois lados*/
    font-size: 12pt;
    /* O comando line-height define a altura da 
    linha(espaçamento entre linhas). Estamos
    usando uma altura de 1,5, ou seja, o tamanho
    da fonte mais meio do tamanho da fonte */
    line-height: 18pt ;
}

main #imghome img{
    margin: 20px;
    width: 400px;
    height: 400px;
    /* arredondar os cantos da imagem */
    border-radius: 50%;
    /* Vamos aplicar um efeito de 
    transparência a imagem, usando
    o comando opacity que varia entre
    0 e 1, ou seja, se você aplicar
    0.6, significa que está usando
    60% de opacidade. Isto representa
    60% de visibilidade */
    opacity: 0.6;
    /* O comando transition pode realizar uma 
    animação de transição, que você pode
    configurar o tipo de transição e o 
    tempo da transição */
    transition: ease 1s;

}

main #imghome img:hover{
    opacity: 1;
}

main #imghome{
    text-align: center;
}

/* -------------------- formatação da página cardapio -------------- */
main #categoriacardapio{
    width: 80%;
    /* vamos centralizar a caixa categoria
    modificando a margem da esquerda e da 
    direita como auto de automático */
    margin-left: auto;
    margin-right: auto;
    /* aplicar a disposição flex para 
    deixar as imagens uma ao lado da outra */
    display: flex;
    /* alinhar o conteudo ao centro */
    justify-content: center;
    margin-top: -50px;
}

.itemcardapio img{
    width: 150px;
    height: 150px;
    border-radius:50%;
    display: block;
    box-shadow: 0px 0px 10px red;
    margin-bottom: 5px;
   
}

.itemcardapio{
    text-align: center;
    margin:5px
}

.itemcardapio a{
    font-family: arial;
    text-decoration: none;
    color:black;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.item{
    width: 31%;
    display: flex;
    margin: 10px;
}

.item img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.item div h3 {
    font-family: arial;
    font-size:12pt;
    margin:5px;
}
.item div p{
    font-family: arial;
    margin: 5px;
    font-size: 10pt;
    line-height: 15pt;
}

#cafes h2{
    font-size:40pt;
    margin-left: 200px;
}